<div id=gameDiv>

</div>

<div id=leaderboard>
    <h3>LeaderBoard</h3>
</div>

<div id=controlsDiv>
    <h3>Controls</h3>
    <p>
        Up Arrow: Forward<br><br>
        Left Arrow: Turn Left<br><br>
        Right Arrow: Turn Right<br><br>
        Down Arrow: Brake<br><br>
        
        <img src="controls.png">
    </p>
</div>

    
</div>